<div class="main_block">
  <div class="container">
    <div class="demo-dashboard-block">
      <div class="demo-dashboard-block__leftside">
        <h3>Dashboard</h3>
        <div class="demo-dashboard-block-options">
          <div class="list">
            Dashboard Options
            <span class="list__options">
              <a href="javascript:void(0)" class="list__options__data">
                Dashboard
              </a>
            </span>
          </div>
          <div class="list">
            Activity
            <span class="list__options">
              <a href="javascript:void(0)" class="list__options__data">
                Authorizations
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                Charging Stations
              </a>
            </span>
          </div>
          <div class="list">
            Assets
            <span class="list__options">
              <a href="javascript:void(0)" class="list__options__data">
                Charging Points
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                Charging Zones
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                Locations
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                Location Images
              </a>
            </span>
          </div>
          <div class="list">
            CRM
            <span class="list__options">
              <a href="javascript:void(0)" class="list__options__data">
                Users
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                RFID Tags
              </a>
            </span>
          </div>
          <div class="list">
            Partners
            <span class="list__options">
              <a href="javascript:void(0)" class="list__options__data">
                Partners
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                Partners Contracts
              </a>
            </span>
          </div>
          <div class="list">
            Analytics
            <span class="list__options">
              <a href="javascript:void(0)" class="list__options__data">
                Reports
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                Sig Fox Data
              </a>
            </span>
          </div>
          <div class="list">
            Configuration
            <span class="list__options">
              <a href="javascript:void(0)" class="list__options__data">
                Admin Accounts
              </a>
              <a href="javascript:void(0)" class="list__options__data">
                Company retail
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-dashboard></app-dashboard>
</div>
<router-outlet></router-outlet>